<% include ../partials/header %>

<section class="container-fluid px-0">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div id="headingGroup" class="text-center border ml-5 d-none d-lg-block mt-5">
            <img class="img-fluid" src="unnamed.webp" alt="About image">
        </div>
    </div>
      <div class="col-lg-6">
            <h1 class="text-center mx-auto">About Us</h1>
            <p class="text-center mx-auto w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugit earum ducimus quam unde maxime beatae perspiciatis eaque? Vitae in eveniet inventore autem architecto ex! Laudantium ut quas dolores sit?</p>
      </div>
    </div>
  </section>

  <section class="container-fluid px-0 mt-5 mb-5">
        <div class="row">
          <div class="col-12">
                <h1 class="text-center mx-auto">Lawsuits</h1>
                <p class="text-center mx-auto w-50 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi id sint fugiat enim itaque velit eveniet iusto quibusdam animi obcaecati. Ex sunt, maiores doloremque, quae illo minima adipisci, voluptas perferendis rerum quis eligendi assumenda? Blanditiis animi reiciendis dignissimos itaque, quas nemo ex aliquam, doloremque odit saepe quibusdam impedit voluptas hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugit earum ducimus quam unde maxime beatae perspiciatis eaque? Vitae in eveniet inventore autem architecto ex! Laudantium ut quas dolores sit?</p>
            </div>
      </section>

<% include ../partials/footer %>