*, html, body {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

#form-login {
    margin-top: 13rem;
}

#form-signup {
    margin-top: 13rem;
}

#form-contact {
    margin-top: 13rem;
}

.navbar-brand {
    padding-left: 5rem;
}

#headerUltwo li a:hover{
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out; 

}

@keyframes spin {
    from {
        font-size: 16px;
    }
    to {
        font-size: 16.5px;
    }
}

#alerts div h1 {
    color: black;
    font-size: 28px;
}

#alerts div {
    width: 10rem;
    font-size: 10px;
    border: solid 1px 3px black;
}

#lawyers {
    margin-top: 8rem;
}

#cNames {
    font-weight: 400;
    font-size: 1rem;
}

#contactArea {
    height: 5rem;
}

.navColor {
    color: #B7B8C0;
}