*, html{
    padding: 0;
    margin: 0;
}

#form-login {
    margin-top: 10rem;
}

#form-signup {
    margin-top: 10rem;
}

#form-forgot {
    margin-top: 10rem;
}

#form-reset {
    margin-top: 10rem;
}

#form-contact {
    margin-top: 10rem;
}

.navbar-brand {
    padding-left: 5rem;
}

#headerUltwo li a:hover{
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out; 

}

@keyframes spin {
    from {
        font-size: 16px;
    }
    to {
        font-size: 16.5px;
    }
}

#alerts div h1 {
    color: black;
    font-size: 28px;
}

#alerts div {
    width: 10rem;
    font-size: 10px;
    border: solid 1px 3px black;
}

#lawyers {
    margin-top: 8rem;
}

#cNames {
    font-weight: 400;
    font-size: 1rem;
}

#contactArea {
    height: 5rem;
}

.navColor {
    color: #B7B8C0;
}

#profileImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 250px;
    max-height: 250px;
}

#profileImgLink {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 250px;
    max-height: 250px;
}

#profileImgEdit {
    position: absolute;
    padding-top: 0.2rem;
    padding-left: 10px;
    opacity: 0;
    transition: 0.5 all;
}

#profileImgLink:hover #profileImgEdit{
    opacity: 0.7;
    color: grey;
}

#profileImgLink:hover {
    opacity: 0.8;
    background: grey;
}

#profileContact {
    font-size: 20px;
}

#navbar {
    z-index: 1;
}

#hide {
    position: absolute;
    z-index: 0;
    top: -1000px;
}